/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width-table {
    width: 100%;
    tr.mat-row, tr.mat-footer-row {
      height: 30px;
    }
    tr.mat-header-row {
      height: 39px;
    }
  }
  
  .mb-10{
    margin-bottom: 10px;
  }
  .mr-5{
    margin-right: 10px !important;
  }
  
  .serach-box{
    float: right;
    margin-top: 10px;
  }
  
  // FORM
  .form-full-width{
    width: 100%;
  }

  .form-half-width{
    width: 45%;
  }

  .ml-33{
    margin-left: 33px;
  }

  .ml-25{
    margin-left: 25px !important;
  }
  

  // TEXT ALIGN CENTER
  .text-center{
    text-align: center;
  }
