<div class="header-custom quiz-submit-thankyou">
    <div class="content">
      <!-- <div class="left-hole"></div>
      <div class="right-hole"></div> -->
      <div class="main-content">
        <h1>Submitted 🎉</h1>
        <p>Thank you 👍, it means a lot to us, just like you do! We really appreciate you giving us a moment of your time.</p>
        <!-- <p class="strong">Your coupon code can be found in your welcome email.</p> -->
  
        <!-- <h3>Next steps & what to expect:</h3>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul> -->
      </div>
  
    </div>
  </div>